.homeContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    width: 100%;
}

.layoutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 25px;
}

.layoutTextContainer{
    margin-left: 60px;
}

.homeImage{
    margin-right: 60px;
}

.trialButton {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Margin for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  }
  
  .trialButton:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
  }
  
  .trialButton:active {
    background-color: #388e3c; /* Even darker green when clicked */
    transform: scale(0.95); /* Slightly shrink button on click */
  }
  


