.homeContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}

header{
    width: 100%;
    background-color: #1A237E;
    color: #FFFFFF;
}

.layoutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 25px;
    background-color: #FAFAFA;
    color: #424242;
}

.layoutTextContainer{
    margin-left: 60px;
}

.homeImage{
    margin-right: 60px;
}

.trialButton {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  .trialButton:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
  }
  
  .trialButton:active {
    background-color: #388e3c; 
    transform: scale(0.95); 
  }
  


