

.scheduleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

  
.formMentorContainer {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 150px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form div {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .addButton {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .addButton:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
  }
  
  .addButton:active {
    background-color: #3e8e41; 
    transform: translateY(0); 
  }
  
  