

.scheduleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

  
.formMentorContainer {
    background-color: #f9f9f9; /* Optional: Add background color */
    padding: 20px; /* Optional: Add padding */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    margin-top: 150px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form div {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .addButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; /* Padding around the button */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    text-align: center; /* Center the text */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }
  
  .addButton:hover {
    background-color: #45a049; /* Slightly darker green on hover */
    transform: translateY(-2px); /* Lift the button slightly on hover */
  }
  
  .addButton:active {
    background-color: #3e8e41; /* Even darker green on click */
    transform: translateY(0); /* Reset position on click */
  }
  
  