

.regButton{
    border: none;
    background-color: #1A237E;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    color: #FFFFFF;
    border: 2px solid #FF7043;
}

.regButton:hover {
    background-color: #3949AB; 
    border-color: #FF7043; 
  }

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.titleDesign{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FF7043;
    text-decoration: none;
}

Link {
    color: #1a73e8; 
    text-decoration: none; 
  }